<div id="housesWrapper">

    <div class="housesInfo">
        <img src="../images/characters/bryony.jpg" alt="">
        <div>
            <p>Assistente Bryony:</p>
            <blockquote>"Los Santos está repleta de imóveis, adquirindo um você recebe as vantagens de restaurar sua energia dormindo, trocar de roupas e uma garagem para guardar seu veículo."</blockquote>
        </div>
    </div>

    <div id="houses">

        <% house.forEach(function(element, index, arr) { %>

            <div class="houseCard">

                <img src="../images/houses/<%= element.id_house %>.jpg">

                <table class="houseTable">

                    <tr>
                        <th> <i class="fa-solid fa-building"></i>Imóvel</th>
                        <th> <i class="fa-solid fa-location-dot"></i>Localização</th>
                        <th> <i class="fa-solid fa-hand-holding-dollar"></i> Valor diário</th>
                        <th> <i class="fa-solid fa-hand-holding-dollar"></i> </th>
                    </tr>

                    <tr>
                        <td>
                            <%= element.name %>
                        </td>
                        <td>
                            <%= element.location %>
                        </td>
                        <td>
                            <%= element.value %> $
                        </td>
                        <td>
                            <form action="/houses" method="post">
                    
                                <input type="hidden" name="houseValue"  value=<%=element.value %> >
                                <button name="houseName" type="submit"    value="<%=element.name %>" >ALUGAR</button>
            
                            </form>
                        </td>
                    </tr>

                </table>

            </div>

        <% }); %>

    </div>

</div>